.env
output.mp3
output.wav
/speech
/__pycache__
__pycache__/record.cpython-310.pyc
__pycache__/record.cpython-311.pyc
__pycache__/speechtotext.cpython-310.pyc
__pycache__/speechtotext.cpython-311.pyc
